.register {
    width: 360px;
}

.regiser_form-element {
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin: 10px 0;
}

.form-element-error{
    display: flex;
    justify-content: flex-end;
    color: red;
}